
*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
}


.calculator__keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.calculator__output{
    height: 30px;
    background: rgb(163, 163, 163);
    border-radius: 5px;
}

.calculator{
    width: 30%;
    max-inline-size: 22rem;
}

.calculator__key--enter{
    grid-column: 4/5;
    grid-row: 2/6;
}

